/* body {
    min-width: 425px;
} */

.logo_container {
    border: 2px rgb(43, 102, 168) solid;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    padding: 2px;
    /* min-width: 400px;
    max-width: 420px; */
    width: 427px;
}

.logo {
    /* display: inline-block; */
    text-align: center;
    padding: 5px;
    height: auto;
}

.host_IP_string {
    color: rgb(52, 60, 131);
    /* text-align: center; */
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
}

.title {
    color: rgb(52, 60, 131);
    /* text-align: center; */
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
    font-size: 20px;
    padding: 0px;
}

.read_table {
    padding: 5px;
    color: rgb(52, 60, 131);
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: bold; */
    font-size: 18px;
    white-space: nowrap;
}



.channel_setting {
    border: 2px solid rgb(168, 171, 192);
    /* padding: 5px; */
    color: rgb(52, 60, 131);
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: bold; */
    font-size: 18px;
    white-space: nowrap;

    background-color: white;
    padding: 0px;
    width: 127px;

}




.read_table {
    border-collapse: collapse;
    float: left;   /* float left is to allow text to be placed next to the table, otherwise it would be pushed below */
}

td, th {
    border: 1px solid rgb(163, 163, 163);
    padding: 8px;
    /* border: -40px; */
    /* margin: 0px; */
    /* font-weight: bold; */

    
}

.read_table tr {
    height: 40px;
}


.table_channel {
    text-align: center;
    width: 100px;
    min-width: 100px;
}

.table_reading {
    text-align: center;
    width: 140px;
    min-width: 105px;
}

.table_settings {
    text-align: center;

     width: 145px;
    /* min-width: 120px;  */
}

.table_note {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(52, 60, 131);
    font-size: 15px;
    /* margin-top: 50px; */
    margin-left: 5px;
}

.options_below_table {
    font-size: 18px;
    color: rgb(52, 60, 131);
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
    /* overflow: hidden; */
    padding: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.options_below_table_cell {
    border: none;
}

.options_setting{
    border: 2px solid rgb(168, 171, 192);
    /* width: 83px; */
    color: rgb(52, 60, 131);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: white;
}

.text_or_number_field {
    width: 75px;
    border: 2px solid rgb(168, 171, 192);
    /* width: 83px; */
    color: rgb(52, 60, 131);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: white;    
}

.buttons {
    font-size: 18px;
    color: #343c83;
    border-color: #7980bb;
    background-color: rgb(240, 240, 240);
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
    /* overflow: hidden; */
    padding: 0px;
    /* margin-top: 8px; */
    /* margin-bottom: 8px; */
    border-radius: 3px;
}
  
  .buttons:hover {
    background-color: rgb(228, 228, 228);
    /* box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4); */
    /* color: rgb(0, 0, 0); */
    border-color: black;    
  }

  .options_setting:hover  {
    border-color: black; 
  }

  .text_or_number_field:hover {
    border-color: black; 
  }

  .channel_setting:hover {
    border-color: black; 
  }